<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.swolebrain.tictactoe" version="1.0.0">
  <name>Tic Tac Toe</name>
  <description>A sample app to use PhoneGap</description>
  <author href="http://www.swolebrain.com" email="thecodingteacher@gmail.com">Swolebrain</author>
  <content src="index.html"/>
  <preference name="android-build-tool" value="gradle" />
  <gap:config-file platform="android" parent="/manifest">
     <application android:debuggable="true" />
  </gap:config-file>


  <platform name="android">
    <allow-intent href="*.phonegap.com" />
    <allow-intent href="market:*"/>
  </platform>
</widget>
